<!DOCTYPE html>
<html lang="en">

<head>
   {% load static %}
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
   <title>Hayat Medical</title>
</head>

<body>
   <!-- header starts ==== -->
   <header>
      <div class="header-left">
        <div class="logo">
          <a href="">
            <img src="{% static 'assets/icons/logo.svg' %}" alt="logo" />
          </a>
        </div>
        <div class="header-links">
          <div class="header-link">
            <a href="{% url 'register' %}">Регистрация</a>
          </div>
          <div class="header-link">
            <a href="{% url 'dispatching_m_p' %}">Пациенты</a>
          </div>
          <div class="header-link header-link--display">
            <a href="{% url 'events' %}">События</a>
            <span>7</span>
          </div>
          <div class="header-link header-link-active">
            <a href="{% url 'dispatching_m_p' %}">Диспетчеризация</a>
          </div>
        </div>
      </div>
      <div class="header-right">
        <div class="dropdown">
          <button
            class="dropdown-toggle profile-btn"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Mухиддинов
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'login' %}">Выйти</a></li>
          </ul>
        </div>
      </div>
    </header>

   <div class="p-2 h-100">
      <ul class="nav nav-tabs p-0" style="margin-bottom: 10px;" id="myTab" role="tablist">
         <li class="nav-item" role="presentation">
            <a href="./register.html">
               <button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button"
                  role="tab" aria-controls="home-tab-pane" aria-selected="true">
                  Поиск пациентов
               </button>
            </a>
         </li>
         <li class="nav-item" role="presentation">
            <a href="">
               <button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button"
                  role="tab" aria-controls="home-tab-pane" aria-selected="true">
                  Забронированные
               </button>
            </a>
         </li>
         <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
               type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true"
               style="display: flex; flex-direction: row; align-items: center">
               Новая ИБ
               <a style="width: 18px; height: 18px" href="./register.html"><img
                     style="width: 18px; height: 18px; margin-bottom: 0px" src="/assets/icons/x-mark-red.svg"
                     alt="icon" /></a>
            </button>
         </li>
      </ul>

      <div style="display: flex; width: 100%; justify-content: space-between; margin-bottom: 10px;">
         <div class="d-flex justify-content-between" style="width: 900px;">
            <button class="green__btn">Сохранить</button>
            <button class="green__btn">Сохранить и добавить новую</button>
            <button class="btn account-patient__btn account-patient__btn--active">Копировать с предыдущего
               приезда</button>
            <div class="btn-group">
               <button type="button" class="btn-bg-image btn btn-color dropdown-toggle" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Распецатать
               </button>
               <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                  <li>
                     <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Separated link</a></li>
               </ul>
            </div>
            <div class="btn-group">
               <button type="button" class="btn btn-color dropdown-toggle" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Действия
               </button>
               <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                  <li>
                     <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Separated link</a></li>
               </ul>
            </div>
         </div>

         <button style="
            padding: 0 5px;
            border: none;
            background: #f5f5f5;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
         ">
            <img src="../assets/icons/coins-alt.svg" alt="icon" width="16" height="18">
            0,00 сум
         </button>
      </div>

      <div class="d-flex p-2" style="background: #f5f5f5">
         <section class="d-flex flex-column gap-1">
            <button class="dispatching-side__btn">
               <a href="./register-medical-history.html" style="text-decoration: none; color: #000;">
                  Титульная страница
               </a>
            </button>
            <button class="dispatching-side__btn">
               <a href="./register-document.html" style="text-decoration: none; color: #000;">
                  Счета и документы
               </a>
            </button>
            <button class="dispatching-side__btn dispatching-side__btn-active">
               <a href="./register-schedule.html" style="text-decoration: none; color: #fff;">
                  Расписание лечения
               </a>
            </button>
            <button class="dispatching-side__btn">
               <a href="./register-appointment_sheet.html" style="text-decoration: none; color: #000;">
                  Основной лист назначений
               </a>
            </button>
            <button class="dispatching-side__btn">
               <a href="./register-changelog.html" style="text-decoration: none; color: #000;">
                  Журнал изменений
               </a>
            </button>
         </section>

         <main class="dispatching__main">
            <div class="search-patients__search-details m-0 p-0 bg-white">
               <div class="search-details__title-box m-0" data-bs-toggle="collapse"
                  data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
                  <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample"
                     aria-expanded="false" aria-controls="collapseWidthExample">
                     <img src="/assets/icons/arrow-drop-down.svg" alt="icon" />
                  </button>
                  <h2 class="search-details__title">Параметры расписания</h2>
               </div>
               <div class="collapse search-details__box px-3 py-1 d-flex align-items-center justify-content-between"
                  id="collapseWidthExample">
                  <div class="d-flex gap-2 align-items-center">
                     <input type="date" name="" id="" style="
                      border: 1px solid rgba(0, 0, 0, 0.23);
                      background-color: transparent;
                      padding: 4px 8px;
                      border-radius: 4px;
                    " />
                     -
                     <input type="date" name="" id="" style="
                      border: 1px solid rgba(0, 0, 0, 0.23);
                      background-color: transparent;
                      padding: 4px 8px;
                      border-radius: 4px;
                    " />
                  </div>
                  <button class="blue__btn">Обновить расписание</button>
               </div>
            </div>
            <div class="bg-white px-3 py-1 d-flex gap-2 align-items-center">
               <button style="
                  display: flex;
                  border-radius: 4px;
                  border: 1px solid var(--border, rgba(0, 0, 0, 0.23));
                  background: var(--background, #f5f5f5);
                  gap: 4px;
                  padding: 6px 14px;
                ">
                  <img src="/assets/icons/printer.svg" alt="icon" />
                  Print
               </button>
               <button style="
                  display: flex;
                  border-radius: 4px;
                  border: 1px solid var(--border, rgba(0, 0, 0, 0.23));
                  background: var(--background, #f5f5f5);
                  gap: 4px;
                  padding: 6px 14px;
                ">
                  <img src="/assets/icons/save-2.svg" alt="icon" />
                  Save
               </button>
            </div>
            <!-- ---- DISPATCH LIST ---- -->
            <div class="dispatch-list"></div>
            <div class="dispatch-list-controler">
               <div class="d-flex bg-white w-100">
                  <div class="d-flex gap-2 p-2">
                     <button class="border border-0 bg-transparent">
                        <img src="/assets/icons/previous.svg" alt="icon" />
                     </button>
                     <button class="border border-0 bg-transparent">
                        <img src="/assets/icons/arrow-left-bold.svg" alt="icon" />
                     </button>
                  </div>
                  <span style="
                    border-left: 2px solid var(--background, #f5f5f5);
                    border-right: 2px solid var(--background, #f5f5f5);
                    padding: 9px 10px;
                    white-space: nowrap;
                  ">Page 1 of 1</span>
                  <div class="d-flex gap-2 p-2">
                     <button class="border border-0 bg-transparent">
                        <img src="/assets/icons/next.svg" alt="icon" />
                     </button>
                     <button class="border border-0 bg-transparent">
                        <img src="/assets/icons/arrow-right.svg" alt="icon" />
                     </button>
                  </div>
               </div>
               <div class="d-flex bg-white">
                  <div class="d-flex gap-2 p-2">
                     <button class="border border-0 bg-transparent">
                        <img src="/assets/icons/file(1).svg" alt="icon" /></button><button
                        class="border border-0 bg-transparent">
                        <img src="/assets/icons/file-2.svg" alt="icon" /></button><button
                        class="border border-0 bg-transparent">
                        <img src="/assets/icons/file-4.svg" alt="icon" />
                     </button>
                  </div>
                  <div class="d-flex align-items-center p-2 gap-2"
                     style="border-left: 2px solid var(--background, #f5f5f5)">
                     <label for="">100%</label>
                     <input type="range" name="" id="" />
                  </div>
               </div>
            </div>
         </main>

      </div>
   </div>

   <!-- script ============= -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"></script>
   <script src="../assets/js/script.js"></script>
</body>

</html>